BasedOnStyle: LLVM
Language: Cpp
IndentWidth: 4
ColumnLimit: 120
AllowShortFunctionsOnASingleLine: Inline
PointerAlignment: Left
SortIncludes: false
BreakBeforeBraces: Attach
NamespaceIndentation: None
AlignAfterOpenBracket: Align
SpaceAfterCStyleCast: false
SpacesBeforeTrailingComments: 1
